* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    background-color: black;
}
/*#9370DB lavanda
/*#BDB76B verde pistache
/*#87CEEB blue sky
/*#FFB6C1 rosa claro*/

body {
    height: 100vh;
    width: 100%;
}
.global {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* padding-left: 50px; */
   
}
.header {
    display: flex;
    height: 10vh;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    align-items: center;
    justify-content: space-between;
}
.logotipo{
    display: flex;
    flex-grow: 0.9;
    background-color: #000000;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;

}
.logotipo img {
    width: 90px;
    height: 75px;
    border-radius: 50%;
}
.logotipo p {
    color: #FFB6C1;
    margin-left: 10px;
}
.div-button{
    display: flex;
    flex-grow: 0.4;
    background-color: #000000;
    justify-content: space-between;
}
.div-button button {
    background-color: transparent;
    border: none;
    flex-grow: 1;
    color: white;
    flex-shrink: 0;
}
.conteudo {
    display: flex;
    flex-grow: 0.85;
    flex-direction: column;
    justify-content: space-around;
    background-color: #000000;
    

}
.footer {
    display: flex;
    flex-grow: 0.1;
    color: white;
    background-color: #000000;
    align-items: center;
    justify-content: center;
}

.footer .p2{
    margin-left: 10px;
    margin-right: 10px;
}

#menu {
    display: none;
}

#sanduba {
    display: none;
}

#nav {
    display: none;
}

#nav{
    background-color: #000000;
}
#nav button {
    background-color: #ffffff;
    border: 0;
    width: 100%;
    flex-grow: 1;
}

.dentro {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    
    
}
.logos {
    height: 7vh;
    margin-top: 25px;
}
.div-logos-img {
    margin-bottom: 10px;
}

h1 {
    color:white;
    border: 0;
    padding: 0;
    
}

.div-input {
    margin-right: 30px;
}

.input-header {
    border-radius: 5px;
    font-style: oblique;
    background-color: transparent;
    color: white;
}

/* .div-fila1, .div-fila2, .div-fila3 {
    display: flex;
}

.img-filmes-f1, .img-filmes-fila3, .img-series-fila4{
    height: 50vh;
    width: 20%;
    margin: 8px;
}

.img-filmes-f1:hover, .img-filmes-fila3:hover, .img-series-fila4:hover{
    height: 55vh;
    width: 25%;
} */

.div-button {
    display: flex;
    justify-content: center;
    width: 60%; 
}

.button-header:hover{
    font-size: 20px;
}

.button-header{
    width: 10%;
    border: none;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; 
    background-color: transparent;
    color:white;
}
.img1 { */
    background-color: blue;
    padding: 1px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
    /* border: 1px solid white;  */
    /* width: 23%; */
}
.card {
    width: 100%;
    /* width: 100%; */
    display: flex;
    /* padding: 5px; */
    justify-content: space-between;
    /* background-color: red; */
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: black;
}
.button-fila1-infantil, .button-fila2-nacionais, .button-fila3-internacionais, .button-fila4-series {
    background-color:transparent ;
    color: white;
    border: none;
    

   /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
    text-decoration: underline;
}


.div-button-infantil, .div-button-nacionais, .div-button-series, .div-button-internacionais {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.div-button-infantil > .button-fila1-infantil{
    margin-top: 40px;
}


@media screen and (max-width: 950px){

    .div-button {
        display: none;
    }

    #sanduba {
        display: block;
        margin-right: 20px;
        font-size: 30px;
    }
    #menu:checked ~ #nav{
        display: flex;
        position: absolute;
        right: 0;
        align-items: center;
        flex-direction: column;
        top: 200;
        width: 30%;
        height: 60%;
        justify-content: space-around;
        padding-left: 20px;
        padding-right: 20px;
    }
    .logotipo {
        flex-grow: 1;
    }
    

}

@media screen and (max-width:550px) {
    
    .footer {
        flex-direction: column;
    }
}

@media screen and (min-height:1000px){
    
    * {
        font-size: x-large;
    }
    .footer {
        flex-direction: column;
    }
}